<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Bank Details</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 border-cell">
          <p><strong>Bank ID:</strong></p>
        </div>
        <div class="col-md-8 border-cell">
          <p>{{ bank.bankId }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 border-cell">
          <p><strong>Bank Name:</strong></p>
        </div>
        <div class="col-md-8 border-cell">
          <p>{{ bank.bankName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 border-cell">
          <p><strong>Address:</strong></p>
        </div>
        <div class="col-md-8 border-cell">
          <p>{{ bank.address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
